.navigationBar__navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(253, 245, 235);
    padding: 0.5rem 1rem;
    top: 0;
    height: 100px;
    min-height: 100px;
    position: sticky;
}

.navigationBar__header {
    flex-grow: 1;
}

.navigationBar__links {
    flex-grow: 1;
}