.menus__container {
    display: flex;
    margin: 2rem;
    align-items: center;
    justify-content: flex-start;
}

.container__menu {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

.container__menu li{
    margin: 1rem;
}

.menus__createMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    flex-direction: column;
}

h2 {
    font-weight: lighter;
    margin: 1rem 0;
}

.menus__title {
    margin-top: 2rem;
}

.menus__title > h1{
    text-align: center;
    font-weight: 400;
}