.removeMenu__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 50px;
}

.removeMenu__title {
    font-weight: 300;
    font-size: 3rem;
}

.menu__options {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu__delete {
    margin: 1rem;
}

.menu__description p {
    font-size: 1.5rem;
}

.removeMenu__btn {
    margin: 1rem;
}