.menus__viewAllMenus {
    display: flex;
    margin: 2rem;
    flex-direction: column;
}

.menu__menus {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

.menu__menus li{
    padding: 0.3rem 0;
}

.menu__title {
    text-align: center;
    font-weight: 400;
}

.menus__container {
    display: flex;
    margin: 2rem;
    align-items: center;
    justify-content: flex-start;
}

.menu__description {
    text-align: center;
    font-weight: 300;
}

.home-img img {
    width: 100%;
    height: calc(100vh - 116px);
}