.createItem__container {
    margin: 50px;
}

.createItem__form {
    width: 50%;
    margin: auto;
}

.createItem__title {
    text-align: center;
    font-size: 3rem;
}

.createItem__submit {
    text-align: center;
    margin: 1rem 0;
}

.createItem__image {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}