.menuList__list {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    justify-content: center;
}

.menuList__listItem {
    margin: 0 30px 30px 30px;
}

.menuList_sectionName {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    font-weight: lighter;
    padding-top: 1rem;
    padding-bottom: 2rem;
    color: rgb(136, 71, 33);
}

.menuList__option {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-right: 10%;
}

.menuList__listItem_options {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.menuList__edit,
.menuList__delete {
    margin-left: 1rem;
    margin-top: 1rem;
}