.button {
    background-color: rgb(246, 247, 201);
    transition: all 0.4s ease 0s;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 5px;
    letter-spacing: 1px;
}

.button-delete {
    background-color: rgb(248, 116, 116);
    transition: all 0.4s ease 0s;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 5px;
    letter-spacing: 1px;
}

.button:hover {
    background-color: rgb(247, 248, 176);
    cursor: pointer;
    transition: all 0.4s ease 0s;
    transform: scale(1.1);
}

.button-delete:hover {
    background-color: rgb(182, 37, 37);
    cursor: pointer;
    transition: all 0.4s ease 0s;
    transform: scale(1.1);
}